.logo {
    width: 15vh;
    margin: 1vh;
    will-change: filter;
    transition: filter .2s ease-out;
}
.logo:hover {
    filter: drop-shadow(3px 2px 2px #333);
  }

  .input{
      border-radius: 5px;
      margin: 5px;
      width: 100%;
  }

  .col-6{
      margin-top: 10vh;
      margin-bottom: 10vh;
  }

  #dvTable{
      width: 200px;
  }



  .hr {
      color: rgb(148, 148, 148);
      margin-bottom: 20vh;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    #in{
      min-width: 100vw;
    }
  }

